* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
p {
  padding: 0;
  margin: 0;
}
.sub-header {
  font-size: 14px;
}
.filter {
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.525);
}
.add-to-cart {
  background-color: yellow;
  border: 0;
}
.copy-rights {
  font-size: 14px;
}
.copy-rights a {
  border-bottom: solid black 1px;
  text-decoration: none;
  color: black;
}
footer p {
  font-size: 12px;
}
